<h2>Discover</h2>

<% @tweets.each do |tweet| %>
<span><%= tweet.user.user_name %></span>
<span>tweets : <%= tweet.content %></span>
<p><%=tweet.created_at.to_s[5..9] %></p>

  <% if following?(tweet) %>
  <p><%= tweet.user.id %></p>
  <form action='/discover/<%= @user.id %>/follow/<%= tweet.user.id %>' method='post'>
    <input type='submit' value='Follow <%= tweet.user.user_name %>'>
  </form>
  <% else %>
    <form >
    <input value='Already Following! <%= tweet.user.user_name %>'>
  </form>
  <% end %>
<% end %>

<div class="Following">
  <h1>You are following this people</h1>
  <% @user.followings.each do |follow| %>
  <p><%= follow.user_name %></p>
  <% end %>
</div>