<div class="container">
<h2>Discover</h2>
	<div class="row">
		<%= erb :logout_btn %>
	</div>

<div class="following col-md-3 discover_display_1">
	<h3 class="pure_bg">You are following these people</h3>
	<% @user.followings.each do |follow| %>
		<p class="pure_bg"><%= follow.user_name.capitalize %></p>
	<%end%>
</div>


<div class="col-md-8 col-md-offset-1">
	<div class="row">
  		<section id="discover_section">
			<% @tweets.each do |tweet| %>
				<div class="row discover_display">
					<span class="pure_bg"><%= tweet.user.user_name.capitalize %></span>
					<span class="pure_bg">tweets : <%= tweet.content %></span>
					<span class="pure_bg" ><%=tweet.created_at.to_s[5..9] %></span>
					 <form action='/discover/<%= @user.id %>/follow/<%= tweet.user.id %>' method='post'>
	    				<input class="btn btn-primary pull-right follow_btn" type='submit' value='Follow <%= tweet.user.user_name.capitalize %>'>
	  				</form>
				</div>
			<% end %>
  		</section>
    </div>
</div>
</div>