<div class="container">
<header>
<div class="row col-md-4">
  <div id="welcome"><i class="pure_bg">Welcome</i>, <span class="display_username pure_bg"><%= @login_user.capitalize %></span></div>
  <div id="follow_info">
    <div class="row">
      <span class="col-md-4">Following</span>
      <span class="col-md-4">Followers</span>
      <span class="col-md-4">Tweets</span>
    </div>
    <div class="row">
      <span class="col-md-4"><center><%=@user.followings.count %></center></span>
      <span class="col-md-4"><center><%=@user.followers.count %></center></span>
      <span class="col-md-4"><center><%=@user.tweets.count %></center></span>
    </div>
  </div>
</div>
</header>

<main class="col-md-5">
<div class="row">
  <section id="new_tweet_form">
    <form action="/tweet/<%= @user.id %>" method="post">
      <textarea min="1" max="140" name="tweet_content" id="tweet_box" required>
      </textarea>
      <input class="btn btn-primary pull-right" type="submit" value="Tweet It!">
    </form>
  </section>
</div>

<div class="row">
  <section id="discover_section">
    <% if @user_tweets %>
      <% @user_tweets.each do |user_tweet| %>
        <div class="row discover_display">
          <%= user_tweet.user.user_name.capitalize %>: <%= user_tweet.content %>
        </div>
      <% end %>
    <% if @follower_tweets %>
      <% @follower_tweets.each do |tweet| %>
        <div class="row discover_display">
          <%= tweet.user.user_name.capitalize %>: <%= tweet.content %>
        </div>
      <% end %>
    <% end %>
  </section>
  <% end %>
  </div>
</main>

<div class="col-md-3">
  <%= erb :logout_btn %>
  <%= erb :discover_btn %>
  <div class="clear"></div>
</div>

</div>

