<div class="container">
<header>
<div class="row">
  <span id="welcome">Welcome, <%= @login_user %></span>
  <%= erb :logout_btn %>
  <div class="clear"></div>
</div>
</header>

<main>
  <section id="new_tweet_form">
    <form action="/tweet/<%= @user.id %>" method="post">
      <input type="text" min="1" max="140" name="tweet_content" required>
      <input type="submit" value="Tweet!">
    </form>
  </section>

  <section id="tweets_display">
    <% if @user_tweets %>
    <% @user_tweets.each do |user_tweet| %>
    <div class="row">
      <%= user_tweet.user.user_name %>: <%= user_tweet.content %>
    </div>
    <% end %>
    <% if @follower_tweets %>
    <% @follower_tweets.each do |tweet| %>
    <div class="row">
      <%= tweet.user.user_name %>: <%= tweet.content %>
    </div>
    <% end %>
    <% end %>
  </section>
  <% end %>


</main>

</div>

